html, body {
  background-color: #AF2727;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.section {
  height: 100%;
  position: relative;
}

.thought-bubble {
  background-color: white;
  padding: 4%;
  border-radius: 30px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  margin: 0 auto;
}

.bubble-container {
  margin: 5% 4% 0% 4%;
  position: relative;
  z-index: 1000;
}

#messages {
  text-transform: uppercase;
}

#donald {
  position: absolute;
  bottom: 0;
}

#donald img {
  max-height: 25em;
  cursor: pointer;
}

.last {
  max-height: 20em;
  height: 50%;
}

.about {
  background-color: #232323;
  height: 30%;
  color: white;
}

.about p {
  font-size: 18px;
}

hr {
  width: 20%;
  border: 2px solid;
}


