html, body {
  background-color: #AF2727;
  height: 100%;
  width: 100%;
}

.view {
  height: 100vh;
}

.thought-bubble {
  background-color: white;
  padding: 4%;
  border-radius: 30px;
  margin-top: 6%;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  margin: 0 auto;
}

#messages {
  text-transform: uppercase;
}

#donald {
  position: absolute;
  bottom: 0;
}

#donald img {
  max-height: 30em;
}

.last {
  max-height: 20em;
  height: 50%;
}
